/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, input {
    -webkit-appearance: none;
    border-radius: 0;
}
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}

/* end Reset */


/* Styles */

body {
    background-color: #f1f1f1;
    background-image: url(../images/background-noise.jpg);
    margin: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

button,
form,
input {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

* {
    box-sizing: border-box;
}

a {
    color: #9a1606;
    text-decoration: none;
    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}

#app {
    background-image: url(../images/Trump-WH-header-collage.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    color: #330904;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    min-height: 100vh;
}
@media screen and (max-width: 700px) {
    #app {
        background-size: 1031px;
        background-position: -150px top;
    }
}

#app .hide-temporarily {
    display: none;
}

#app .please-wait {
    color: #eee;
    text-align: center;
    padding: 32px;
}

#app .wrapper > header {
    margin: 0 auto;
    max-width: 840px;
}

#app .title {
    color: #f1f1f1;
    font-size: 44px;
    font-weight: bold;
    padding: 32px 32px 60px;
    text-align: center;
    text-shadow: 0px 0px 17px rgba(50,0,50,0.6);
    text-transform: uppercase;
}
#app .title span {
    font-size: 32px;
    color: #3a0c07;
    text-shadow: none;
}

@media (max-width: 879px) {
    #app .title {
        font-size: 30px;
        padding: 20px 32px 32px;
    }
    #app .title span {
        font-size: 22px;
    }
}

#app .petition,
#app .paragraph {
    font-size: 16px;
    margin: 0 auto;
    max-width: 840px;
    padding: 1px 32px 32px;
}

#app .petition h3,
#app .paragraph h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0 8px;
}

#app .petition .spacer,
#app .paragraph .spacer {
    padding: 16px 0 0;
}

#app .paragraph hr {
	border: 0;
	height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 34px;
	width: 100%;
}

#app .paragraph .profiles {
    padding: 12px 34px 0;
}
@media screen and (max-width: 700px) {
    #app .paragraph .profiles {
        padding: 12px 0 0;
    }
}

#app .paragraph .profile {
    margin: 0 0 22px;
}

#app .paragraph img {
    float: left;
    margin: 0 18px 12px 0;
    max-height: 260px;
}
#app .paragraph .clear {
    clear: both;
}
@media screen and (max-width: 374px) {
    #app .paragraph img {
        float: none;
        display: block;
        margin: 0 auto 12px;
    }
}

#app .paragraph a.sign-the-petition {
    background-color: #ffb406;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.216);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin: 10px auto;
    max-width: 100%;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
    width: 260px;
}
#app .paragraph a.sign-the-petition:hover {
    background-color: #ffa905;
    text-decoration: none;
}

#app .phone-form-wrapper {
    background-color: #f1f1f1;
    border: 1px solid #a9a9a9;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.216);
    margin: 0 auto 32px;
    max-width: 700px;
    padding: 32px;
    text-align: center;
    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

#app .phone-form-wrapper h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 24px;
}

#app .phone-form form {
    border: 5px solid #411;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.216);
    margin: 0 auto 16px;
    max-width: 440px;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

#app .phone-form form:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.216);
}

#app .phone-form form h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 32px 32px 16px;
    text-align: center;
    text-transform: uppercase;
}

#app .phone-form form .request {
    padding: 0 32px 32px;
    text-align: center;
}

#app .phone-form form input {
    border-top: 1px solid #bbd;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.076);
    color: #090909;
    font-size: 24px;
    padding: 16px;
    text-align: center;
    width: 100%;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

#app .phone-form form input:focus {
    box-shadow: inset 1px 1px 7px rgba(120, 232, 255, 0.463);
}

#app .phone-form form input:hover {
    box-shadow: inset 1px 1px 7px rgba(120, 232, 255, 0.785);
}

#app .phone-form form button {
    background-color: #ffb406;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 64px;
    text-transform: uppercase;
    width: 100%;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

#app .phone-form form button:hover {
    background-color: #ffc133;
}

#app .phone-form form button img {
    height: 32px;
    line-height: 1;
    margin: 0px 0 0 12px;
    position: absolute;

    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;

    -webkit-transform: translate3d(0, 0, 0) rotate(0);
            transform: translate3d(0, 0, 0) rotate(0);
}

#app .phone-form form button:hover img {
    -webkit-transform: translate3d(0, 0, 0) rotate(6deg);
            transform: translate3d(0, 0, 0) rotate(6deg);
}

#app .phone-script {
    border: 1px solid #a9a9a9;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.216);
    margin: 0 auto 32px;
    max-width: 700px;
    padding: 32px;
    text-align: center;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

#app .phone-script:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.216);
}

#app .phone-script h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 24px;
    text-transform: uppercase;
}

#app .phone-script .suggestion {
    color: #9a1606;
    margin: 10px auto;
    max-width: 460px;
    text-align: left;
}

#app .phone-script .spacer {
    padding: 0 0 16px;
}

#app .thanks {
    background-color: #f1f1f1;
    background-image: url(../images/background-noise.jpg);
    font-size: 24px;
    padding: 32px;
    text-align: center;
}

#app .email-form .petition {
    background-color: #f1f1f1;
    border: 1px solid #a9a9a9;
    box-shadow: 1px 1px 15px 2px rgba(65,5,5, 0.3);
    font-size: 14px;
    font-style: italic;
    margin-bottom: 32px;
    padding-bottom: 2px;
}

#app .email-form form {
    border: 1px solid #bdbdbd;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.216);
    margin: 32px auto 22px;
    max-width: 440px;
    overflow: hidden;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

#app .email-form form:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.216);
}

#app .email-form form input {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.076);
    color: #090909;
    font-size: 24px;
    padding: 16px;
    text-align: center;
    width: 100%;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

#app .email-form form input:focus {
    box-shadow: inset 1px 1px 7px rgba(120, 232, 255, 0.463);
}

#app .email-form form input:hover {
    box-shadow: inset 1px 1px 7px rgba(120, 232, 255, 0.785);
}

#app .email-form form input.name,
#app .email-form form input.email {
    border-bottom: 1px solid #ccc;
}

#app .email-form form button {
    background-color: #ffb406;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
    text-transform: uppercase;
    width: 100%;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

#app .email-form form button:hover {
    background-color: #ffa905;
}

#app .email-form .disclaimer {
    color: #969696;
    font-size: 12px;
    font-style: italic;
    margin: 22px auto;
    max-width: 460px;
    padding: 0 32px;
    text-align: center;
}

@media (max-width: 460px) {
    #app .email-form form input {
        border-bottom: 1px solid #ccc;
        border-right: none;
        width: 100%;
    }

    #app .email-form form input.zip {
        border-bottom: none;
    }
}

@media screen and (min-width: 769px) {
    #app .email-form form {
        border: none;
        max-width: 100%;
    }
    #app .email-form form input {
        border: 1px solid #bdbdbd;
        width: 33.33%;
    }
    #app .email-form form input.email {
        border-left: none;
        border-right: none;
    }
    #app .email-form .disclaimer {
        max-width: 100%;
    }
}

#app .opt-out-form {
    border: 1px solid #a9a9a9;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.216);
    margin: 0 auto 32px;
    max-width: 440px;
    padding: 32px;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

#app .opt-out-form:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.216);
}

#app .opt-out-form .suggestion {
    color: #9a1606;
    margin: 10px auto;
    max-width: 340px;
    text-align: left;
}

#app .opt-out-form .numbers .number {
    padding: 16px 0 0;
}

#app .opt-out-form .numbers .number .name {
    font-weight: 700;
}

#app .privacy {
    color: #808080;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 32px;
    text-align: center;
}

#app .organizations {
    background-color: #fff;
    padding: 32px 16px;
    text-align: center;
}

#app .organizations .clamp {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 16px;
}

#app .organizations h4 {
    font-size: 24px;
    line-height: 1.4;
    padding: 0 0 16px;
}

#app .organizations a {
    text-decoration: none;
}

#app .organizations img {
    background-color: #fff;
    height: auto;
    margin: 0 20px 32px;
    max-width: 280px;
    vertical-align: middle;
}

#app .organizations .larger img {
    max-width: 320px;
    width: 85%;
}

#app .organizations .smaller img {
    max-height: 180px;
    max-width: 210px;
}

#app .midnight-share-train {
    background-color: #330904;
    margin: 30px auto 0;
    max-width: 100%;
    padding: 18px 16px 0;
    text-align: center;
}

#app .midnight-share-train .share {
    border-radius: 60px;
    display: inline-block;
    margin: 0 0 22px;
    padding: 10px 10px 0;
}

#app .midnight-share-train a:hover {
    color: #fff;
}

#app .share a {
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    margin: 0 10px 10px 10px;
    padding-left: 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.16s;
    width: 120px;
}
#app .share a.facebook {
    background: #3B5999 url(../images/social/fb_white.png) 15px 8px no-repeat;
    background-size: 25px 25px;
}
#app .share a.facebook:hover {
    background-color: #2B4989;
}
#app .share a.twitter {
    background: #4099FF url(../images/social/tw_white.png) 15px 8px no-repeat;
    background-size: 25px 25px;
}
#app .share a.twitter:hover {
    background-color: #3089ef;
}
#app .share a.email {
    background: #14ac2b url(../images/social/email_white.png) 15px 8px no-repeat;
    background-size: 25px 25px;
}
#app .share a.email:hover {
    background-color: #10A526;
}

/*#app .social {
    background-color: #45619d;
    color: #fff;
    padding: 0 0 48px;
    text-align: center;
}

#app .social h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    padding: 32px 32px 16px;
    text-align: center;
    text-transform: uppercase;
}

#app .social .copy {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 32px 32px;
}

#app .social .buttons {
}

#app .social .buttons a {
    background-color: #09f;
    background-position: 11px 7px;
    background-repeat: no-repeat;
    background-size: 25px;
    border-radius: 2px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    padding: 8px 16px 8px 48px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

#app .social .buttons a:hover {
    background-color: #50b9ff;
}

#app .social .buttons a.facebook {
    background-image: url(../images/social/fb_white.png);
    margin: 0 16px 0 0;
}

#app .social .buttons a.twitter {
    background-image: url(../images/social/tw_white.png);
}*/

#app .contact {
    border-top: 1px solid #eee;
    font-size: 18px;
    margin: 64px auto 0;
    max-width: 960px;
    padding: 32px;
    text-align: center;
}

#app .creative-commons {
    font-size: 12px;
    font-style: italic;
    margin: 32px auto;
    opacity: 0.6;
    padding: 0 32px;
    text-align: center;
}

/* Intro animations */
#app .wrapper > header {
    opacity: 0;

    -webkit-animation: fadein 0.312s forwards;
            animation: fadein 0.312s forwards;
}
#app .wrapper > .form {
    opacity: 0;

    -webkit-animation: fadein 0.312s 0.06s forwards;
            animation: fadein 0.312s 0.06s forwards;
}
#app .wrapper > .social {
    opacity: 0;

    -webkit-animation: fadein 0.312s 0.12s forwards;
            animation: fadein 0.312s 0.12s forwards;
}
#app .wrapper > .organizations {
    opacity: 0;

    -webkit-animation: fadein 0.312s 0.18s forwards;
            animation: fadein 0.312s 0.18s forwards;
}
#app .wrapper > .contact {
    -webkit-animation: fadein 0.312s 0.24s forwards;
            animation: fadein 0.312s 0.24s forwards;
    opacity: 0;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Feedback */
#app .calling-wrapper {
    font-size: 20px;
    line-height: 1.4;
    margin: 16px auto 0;
    max-width: 720px;
    padding: 24px 32px 32px;
    position: relative;
    border-top: 1px solid #ccc;
}
#app .calling-wrapper h3 {
    font-weight: 600;
    margin: 0 auto;
}
#app .calling-wrapper form {
    background-color: #45619d;
    background-image: linear-gradient(#45619d, #09466f);
    color: white;
    border-radius: 5px;
    color: #eee;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
    margin: 32px auto 0;
    max-width: 300px;
    padding: 16px 32px 32px;
    position: relative;
}
#app .calling-wrapper form .wrapper {
    position: relative;
}
#app .calling-wrapper form h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 auto;
    padding: 16px 16px 8px;
}
#app .calling-wrapper form input {
    border: 1px solid #aaa;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 8px;
    width: 100%;
}
#app .calling-wrapper form button {
    background: none;
    background-color: #ffb406;
    border-radius: 3px;
    border: none;
    color: #f0f4f5;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    line-height: 2.4;
    margin: 16px 0 0;
    padding: 0 16px;
    text-shadow: none;
    transition: background-color 0.16s;
    width: 100%;
}
#app .calling-wrapper button:hover {
    background-color: #ffa905;
}
#app .calling-wrapper #thanks {
    background: #0199ff;
    color: #f0f4f5;
    display: none;
    font-size: 20px;
    font-weight: bold;
    left: 0;
    letter-spacing: 1px;
    line-height: 2.4;
    margin: 16px 0 0;
    max-width: 430px;
    padding: 0 16px;
    position: absolute;
    text-transform: uppercase;
    transition: opacity 0.4s ease-out;
    width: 100%;
    z-index: 2;
}
#app .calling-wrapper .sent br,
#app .calling-wrapper .sent h4,
#app .calling-wrapper .sent input {
    display: none;
}
#app .calling-wrapper .sent #thanks {
    display: block;
}
